body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

.section.hero{
    background-color: #1F2937;
    color: white;
    padding: 8px 120px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

}

.left-bar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.home{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.logo{
    width:50px;
}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.hero-content{
    display: flex;
    padding: 60px 0;
    align-items: center;
    justify-content: center;
    gap: 40px;
}



.hero-text{
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 15px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image{
    display: flex;
    justify-content: center;
    max-width: 500px;
}


.hero-image1{
    max-width: 90%;
    min-width: 240px;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.hero-text button{
    width: 110px;
    text-align: center;
    border: none;
    padding: 8px 10px;
}

/* Information section */
.section.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 30px;
}

.cards-information{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 20px;
    padding-bottom: 70px;
}

.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.card .text{
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 30px;
}

.img-box{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: 3px solid #3882F6;
    overflow: hidden; 
    /* keep image from sticking out */
}

.img{
    width: 100%;
    height: 100%;

}

/* quote section */
.section.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 100px;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    margin: 10px 0;
}

.quote-name{
    display: flex;
    justify-content: flex-end;
}


/* signup section */
.section.signup{
    margin: 50px 100px;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    display: flex;
    padding: 30px 50px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.signup-text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap:5px;

}

.signup-text h3,p{
    margin: 0;
}

.signup-text p{
    font-size: 15px;
    font-weight: lighter;
}

.signup-button button{
    border: 1px solid white;
    padding: 10px 30px;
    white-space: nowrap;
}



/* footer section */
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0;
    font-size: 10px;
}


@media (max-width: 768px) {
  .hero-content {
    flex-wrap: wrap; /* enable wrapping below 768px */
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  .hero-text{
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  .navbar{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:20px;
  }
  .section.signup{
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
  }
}
