
@font-face {
  font-family: 'ElmsSans';
  src: url('fonts/ElmsSans-VariableFont_wght.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Norse-Bold';
  src: url('fonts/Norse-Bold.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Viking-Normal';
  src: url('fonts/VikingNormal-36VL.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
    font-family: 'ElmsSans';
    font-size: 62.5%;
}

body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: linear-gradient(
    to top,  /* horizon glow */
    #236fe9 0% 34%,  /* sunrise band */
    #ffd166 34% 45%,  /* morning sky */
    #2fc6f9 35% 100%    
  );

    color: white;
}

.image-section{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.company-header{
    margin:1rem;
    display: flex;
    align-items: center;
    gap:1rem;
    font-size: 2rem;
}

.logo{
    max-width: 10%;
    min-width: 5rem;
    padding-left: 1rem;
}

.company{
    flex: 2;
    font-family: 'Norse-Bold','Viking-Normal', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.illustration{
    position: relative;
    top: 3rem;
    flex: 4;
    width: 100%;
    height: auto;
}

.quote{
    flex:1;
    text-align: center;
    padding: 2rem;
    font-size: 1.9rem;
}

.form-section{
    flex: 1.5;
    background-color: rgba(0, 1, 18, 0.981);
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}

.submit-btn{
    border: none;
    background-color: #236fe9;
    color: white;
    padding: 1rem 5rem;
    min-width: 25rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
}

form{
    width: 50vw;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.form-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 5rem;
    color: rgba(255, 255, 255, 0.5);
}

.input-container{
    min-width: 25rem;
    position: relative;
    margin-right: 2rem;
}

input{
    display: block;
    border-radius: 0.4rem;
    border: 0;
    border-bottom: 1px solid rgba(93, 92, 92, 0.363);
    padding: 6px 6px 6px 10px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: all 0.5s ease-in;
    width: 90%;
}

.ph{
    font-size: 1.5rem;
    /* allow span to be transparent so that when you click on it it will click the element behind it */
    pointer-events: none; 
    transition: all 0.4s;
    letter-spacing: 0.05rem;
}

.ph:not(:focus){
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}

input:focus{
    outline: none;
    border: 1px solid white;
}

input:focus ~ .ph,
input:not(:placeholder-shown) ~ .ph {
    font-size: 1rem;
    transform: translateX(4px) translateY(-7px);
    padding: 0 6px;
    background-color: rgb(202, 202, 202);
    color: black;
    border-radius: 2px;
   
}

.login-text{
    margin-top: 1.5rem;
    font-size: 1.4rem;
}

a{
    color: #236fe9;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    
}

span.error-text {
    font-size: 1.4rem;
    color: red;
    display: block;
    min-height: 1em; /* reserve space */
    margin-top: 0.25rem;
    padding: 0 6px;
}

input:invalid:not(:placeholder-shown){
  border: 1px solid red;
}

input:invalid:not(:placeholder-shown) + .ph{
    background-color: red;
}

#email:invalid:not(:placeholder-shown) + .ph + .error-text::after{
    content: "Use a valid email format";
}

#password:invalid:not(:placeholder-shown) + .ph + .error-text::after{
    content: "Min 8 characters";
}

#telephone:invalid:not(:placeholder-shown) + .ph + .error-text::after{
    content: "Only 8 digits";
}

#first-name:invalid:not(:placeholder-shown) + .ph + .error-text::after,
#last-name:invalid:not(:placeholder-shown) + .ph + .error-text::after{
    content: "Only letters allowed";
}