@font-face {
  font-family: 'SamsungOne 400';
  src: url('fonts/SamsungOne-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOne 700';
  src: url('fonts/SamsungOne-700.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  src: url('fonts/SamsungSharpSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'SamsungOne700', sans-serif;
    background-color: rgb(53, 150, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button{
    font-family: 'SamsungOne 700';

}

.calc.display{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    color: white;
}

.operations.display{
    padding-top: 20px;
    flex:2;
    font-size:50px;
    font-weight: bold;
}

.result.display{
    flex:1;
    margin-bottom: 25px;
    font-size: 37px;
    color: rgb(158, 157, 157);
}

.calc.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    border-radius: 10px;
    width: 500px;
    height: 700px;
    padding: 40px;
}

.calc.display{
    border-bottom: solid 1px rgb(119, 119, 119);
    flex: 1;
    margin-bottom: 20px;
}

.calc.numpad{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.delete.bar{
    display: flex;
    gap: 10px;
}

.delete.bar button{
    font-family: 'Samsung Sharp Sans Bold';
    flex: 1;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 25px;
    background-color: rgb(38, 37, 37);
    color: white;
}

.bottom.numpad{
    flex:1;
    display: flex;
    gap: 10px;
}

.operators.container{
    display: flex;
    flex-direction: column;
    flex:1;
    gap:10px
}



.number.container{
    display: flex;
    flex:3;
    flex-wrap: wrap;
    gap: 10px;
}

.number.container button{
    background-color: rgba(58, 57, 55, 0.431);
    color: white;
    flex:1 1 calc(33.333% - 10px);
    border-radius:50%;
    min-height: 50px;
    font-size: 25px;
    border: none;
    
}

.operators.container button{
    flex:1;
    border-radius:120px;
    background-color: rgb(149, 147, 144);
    font-size: 30px;
    border: none;

}

.operators.container button[data-key="Equal"] {
  background-color: rgb(32, 213, 15);
  color: white;
}

