@font-face {
  font-family: 'Quinquefive';
  src: url('fonts/Quinquefive-KVpBp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'Quinquefive', monospace;
    background-color: #251e17;
    color: #E67300;
}

.title{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

.scoreBoard{
    display: flex;
    font-size: 40px;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    color: rgb(255, 191, 0);
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box{
    width: 240px;
    height: 240px;
    border: 3px dashed rgb(255, 191, 0);
}

.options{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap:30px;

}

button{
    padding: 20px 10px;
    text-align: center;
    width: 220px;
    font-size: 18px;
    font-family: inherit;
    background-color: inherit;
    border: 1px solid #ebdbb2;
    color: rgb(255, 191, 0);
}

button:hover{
    background-color: #867d73;
}