@font-face {
    font-family: 'library';
    src: url(assets/fonts/Library.otf);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

button{
    background: none;
    border: 0;
    cursor: pointer;
}

[data-theme="light"]{
    --main-bg-colour: rgb(245, 244, 244);
    --second-bg-colour: white;
    --text-colour: #000000;
    --button-colour: rgb(243, 242, 242);
    --button-hover: rgb(189, 188, 188);
}

[data-theme="dark"]{
    --main-bg-colour: rgb(51, 51, 51);
    --second-bg-colour: rgb(0, 0, 0);
    --text-colour: hsl(0, 4%, 86%);
    --button-colour: rgb(48, 47, 47);
    --button-hover: grey;
}

:root{
    font-size: 62.5%;
    font-family: 'Nunito Sans'
}

body{
    min-height: 100vh;
    margin: 0;
    position: relative;
    ;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.top.section{
    grid-row: 1/2;
    background-color: var(--second-bg-colour);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    /* border-bottom: 1px solid rgb(164, 164, 164); */
    box-shadow: 0 4px 8px -2px rgba(0,0,0,0.4);
}

.title{
    font-family: 'library', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 3.4rem;
    font-weight: bold;
    color: var(--text-colour);
}

.theme-wrapper{
    position: relative;
    width: 5rem;
    height: 5rem;
}


/* Make both occupy the same position */
#light, #dark {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
}

#light{
    color: var(--text-colour);
}

#dark{
    color: var(--text-colour);
}

.add-book,.submit,.cancel{
    border-radius: 5px;
    background-color: var(--button-colour);
    font-family: inherit;
}

.add-book:hover,.submit:hover,.cancel:hover{
    background-color: var(--button-hover);
}

.add-book{
    padding: 10px 14px;
    color: var(--text-colour);
}

.top-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Hide the dark icon when in light mode */
[data-theme="light"] #light {
  display: none;
}

/* Hide the light icon when in dark mode */
[data-theme="dark"] #dark {
  display: none;
}

.main.section{
    grid-row: 2/6;
    background-color: var(--main-bg-colour);
}


.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  var(--second-bg-colour);
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-bottom{
    display: flex;
    justify-content: space-between;
}

.submit,.cancel{
    padding: 8px;
}

input {
    padding: 10px;
    border: 2px solid var(--second-bg-colour); /* normal border color */
    border-radius: 5px;
    background-color: var(--main-bg-colour);
    outline: none; /* remove default browser focus outline */
    transition: border-color 0.2s ease; /* smooth color change */
}

input:focus {
    border-color: rgb(189, 188, 188); /* new border color on focus */
}

.read-input{
    display: flex;
    justify-content: space-around;
}

.read-box{
    padding: 2px 0px;
    font-size: 1.4rem;
}





