@font-face {
    font-family: 'library';
    src: url(assets/fonts/Library.otf);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}



button{
    background: none;
    border: 0;
    cursor: pointer;
}

[data-theme="light"]{
    --main-bg-colour: rgb(238, 237, 237);
    --second-bg-colour: white;
    --text-colour: #000000;
    --button-colour: rgb(243, 242, 242);
    --button-hover: rgb(189, 188, 188);
    --secondary-text-colour:rgb(89, 89, 89);
}

[data-theme="dark"]{
    --main-bg-colour: rgb(51, 51, 51);
    --second-bg-colour: rgb(0, 0, 0);
    --text-colour: hsl(0, 4%, 86%);
    --button-colour: rgb(48, 47, 47);
    --button-hover: grey;
    --secondary-text-colour:rgb(145, 143, 143);
}

:root{
    font-size: 62.5%;
    font-family: 'Nunito Sans', 'Courier New', Courier, monospace;
    font-weight: 300;
    
}

body{
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-color: var(--main-bg-colour);
}

.container{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
}

.top.section{
    box-sizing: border-box;
    width: 100%;
    grid-row: 1/2;
    background-color: var(--second-bg-colour);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    box-shadow: 0 4px 8px -2px rgba(0,0,0,0.4);
}

.title{
    font-family: 'library', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 3.4rem;
    font-weight: bold;
    color: var(--text-colour);
}

.theme-wrapper{
    position: relative;
    width: 5rem;
    height: 5rem;
}


/* Make both occupy the same position */
#light, #dark {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
}

#light{
    color: var(--text-colour);
}

#dark{
    color: var(--text-colour);
}

.add-book,.submit,.cancel{
    border-radius: 5px;
    background-color: var(--button-colour);
    font-family: inherit;
}

.add-book:hover,.submit:hover,.cancel:hover{
    background-color: var(--button-hover);
}

.add-book{
    padding: 10px 14px;
    color: var(--text-colour);
    display: flex;
    align-items: center;
    gap: 5px;;
}

.top-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Hide the dark icon when in light mode */
[data-theme="light"] #light {
  display: none;
}

/* Hide the light icon when in dark mode */
[data-theme="dark"] #dark {
  display: none;
}



body.opacity-bg::after {
    content: '';
    position: fixed; /* Sit on top of everything */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* The dark overlay */
    z-index: 9; /* High enough to cover content, lower than popup */
    /* pointer-events: none; */
}


.popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  var(--second-bg-colour);
    padding: 20px;
    border-radius: 8px;
    color: var(--text-colour);
    z-index: 10;
}

form{   
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-bottom{
    display: flex;
    justify-content: space-between;
}

.submit,.cancel{
    padding: 8px;
    color: var(--text-colour);
}

input {
    padding: 10px;
    border: 2px solid var(--second-bg-colour); /* normal border color */
    border-radius: 5px;
    background-color: var(--main-bg-colour);
    outline: none; /* remove default browser focus outline */
    transition: border-color 0.2s ease; /* smooth color change */
    color: var(--text-colour);
    
}

input:focus {
    border-color: rgb(189, 188, 188); /* new border color on focus */
}

.read-input{
    display: flex;
    justify-content: space-around;
}

.read-box{
    padding: 2px 0px;
    font-size: 1.4rem;
}

.empty-state{
    display: flex;
    position: fixed;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    color: var(--text-colour);
}

.empty-state p{
    font-size: 1.8rem;
}

#shelfIcon{
    font-size: 70px;
}

.book-card{
    background-color: var(--second-bg-colour);
    color: var(--text-colour);

    border-radius: 8px;
    padding: 2.7rem 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--main-bg-colour);

    position:relative;
}

.book-card:hover{
    transform: translateY(-5px);
    border-color: var(--button-hover);
    
}

.book-card:active {
    transform: translateY(0);
}

.book-card h3{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-colour);
    margin: 0.6rem 0;

    width: 100%;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-info{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    color: var(--secondary-text-colour);
    
}

.info-text{
    flex: 1;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.main-section{
    box-sizing: border-box;
    width: 100%;
    grid-row: 2/6;
    display: grid;
    padding: 0 1.5rem;
    margin: 3rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 2rem;
    justify-content: center;
}

.card-btn{
    color: var(--button-hover);
    transition: transform 0.2s ease;
    font-size: 2rem;
}

.delete-btn{
    position: absolute;
    top: 10%;
    left: 5%;
}

.read-btn{
    position: absolute;
    top: 10%;
    right: 5%;
}

.delete-btn:hover{
    color: red;
}

.hasRead{
    color: green;
}

.read-btn:hover{
    color: lightgreen;
}

